*{
    font-family: JetBrainsMono;
    font-size: 13px;
    min-height: 0;
    color: white;
}

window#waybar {
    background-color: #333333;
}

#workspaces{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 15px;
}

#workspaces button{

    margin-right: 10px;
    padding: 1px 5px;
    font-weight: bolder;
    background-color: #333333;
    color: white;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 15px;
    background-color: #00308F;
    
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#network {
	padding: 0 10px;
}

