* {
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(15, 15, 15, 0.96);
    color: #c5c5c5;
}

/* Workspaces */
#workspaces {
    margin-left: 8px;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: #c5c5c5;
}

#workspaces button.active , #workspaces button.focused {
    color: #ffffff;
    padding: 0 8px;
    background-color: #00308F;
}

/*#workspaces button:hover {
    background: rgba(255, 255, 255, 0.05);
}*/

/* Center clock */
#clock {
    font-weight: 500;
    color: #d0d0d0;
}

/* Right modules */
#cpu,
#memory,
#network,
#pulseaudio {
    padding: 0 10px;
}

/* Muted states */
#pulseaudio.muted {
    color: #666666;
}
#battery {
    padding: 0 10px;
}

#battery.charging {
    color: #c5c5c5;
}

#battery.critical {
    color: #ff5555;
}
#battery > label {
    font-size: 14px;
    margin-top: 1px;
}

