
@define-color mauve  @color9;
@define-color red  @color9;
@define-color lavender  @color7;
@define-color text  @color7;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 14px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 0px;
    background-color: rgba(15, 15, 15, 0.96);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: 5px solid rgba(15,15,15,0.96);
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 8px;
    border: none;
    outline: none;
    color: black;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius: 5;
    background-color: white;
}
#input image {
    border: none;
    color: @red;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius:5;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 5px;
}
#entry arrow {
    border: none;
    color: @lavender;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .03);
    border: none;
    border-radius: 20px;
    background-color: #00308F;
}
#entry:selected #text {
    color: @mauve;
}
#entry:drop(active) {
    background-color: @lavender !important;
}
